.container {
    display: grid;
    // grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 2fr 1fr;

    height: 100%;
    width: 100%;
    background-color: #BCD02F;
    
    
    .gamble-history {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1 / 2;

        width: 100%;
        height: 100%;

        .gamble-row {
            display: flex;
            justify-content: center;
            align-items: center;

            .ace-card {
                width: 90%;
                height: 90%;
            }
        }
    }

    .gamble-card {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-row-start: 1;
        grid-column-start: 7;

        .card-back {
            width: 90%;
            height: 50%;
        }
    }
    .gamble-buttons {
    
    }

    .red-button {
        grid-column: 4/6;
        grid-row: 2/2;
        
        background-color: red;
    }
    .black-button {
        grid-column: 6/8;
        grid-row: 2/2;

        background-color: black;
    }
    .take-money {
        grid-column: 1/3;
        grid-row: 2/2;

        background-color: #D0432F;

        //width: 30%;
        //height: 30%;
    }


}