.main-view {
    height: 100%;
    width: 100%;
}

.topbar {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    //text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 15%;
    //margin: 40px;
    color: #000202;

    button {
        width: 5%;
        height: 60px;
        color: black;
        background-color: white;
        border-radius: 10px;
        border: none;
        outline: none;
    }

    .help-box {
        display: grid;
        grid-template-columns: 50% 50%;

        width: 20%;
        height: 80%;

        margin-left: 10px;
        background-color: rgba($color: white, $alpha: 0.4);
        border-radius: 25px;

        .help-text-left {
            grid-column-start: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .text {
                text-align: center;
            }
        }
        .help-text-right {
            grid-column-start: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            .text {
                text-align: center;
            }
        }
    }
}

.machine-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .machine {
        border: 5px solid gold;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        //align-items: center;
        padding: 10px;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(47,188,208,1) 80%, rgba(0,212,255,1) 100%);

        app-machine {
            width: 100%;
            //margin: 5px;
        }
    }
}